#mall-table {
    float: right;
    width: 1080px;
}

#mall-category {
    float: left;
    width: 200px;
    border: 1px solid #eee;
    border-top: 0px;
}

#categories {
    margin-top: 15px;
    margin-bottom: 15px;
}

#categories a {
    text-decoration: none;
    color: rgb(45, 45, 45);
    font-size: 13px;
    display: inline-block;
    padding-bottom: 9px;
}

#title-category {
    text-align: center;
    color: rgb(45, 45, 45);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 18px;
}

.products-ul {
    list-style: none;
}

#middle-line {
    margin-top: 50px;
    border-bottom: 1px solid #eee;
    background-color: #fafafa;
    height: 38px;
}

#page-button {
    justify-content: center;
    margin-top: 20px;
}

.products-li {
    width: 255px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 100px;
}

.products-content {
    text-align: center;
}

.td-title {
    padding-left: 10px;
}
.td-price {
    text-align: center;
}

table {
    width: 100%;
    padding-top: 50px;
}

th {
    height: 40px;
    text-align: center;
    border-top: 1px solid #eee;
    font-size: 14px;
    color: rgb(65, 65, 65);
}

td {
    height: 36px;
    font-size: 14px;
    border-top: 0.5px solid #eee;
    border-bottom: 0.5px solid #eee;
}

a {
    text-decoration: none;
    color: black;
}