<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/form-buttons.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>whatap test site</title>
    </head>
    <body>
        <div id="mall-skin">
            <div id="mall-body">
                <div>
                    <h1><a href="http://localhost:8080/products">Product</a></h1>
                </div>
                <div>
                    <form>
                        <table class="table table-horizontal table-bordered">
                            <thead class="thead-strong">
                                <tr class="content-title">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="title" placeholder="title area">
                                    </div>
                                </tr>
                                <tr class="content-read">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="price" placeholder="price area">
                                    </div>
                                </tr>
                            </thead>
                        </table>
                    </form>
                    <div>
                        <a href="/products" role="button" class="btn btn-secondary bottom-buttons">Back</a>
                        <button type="button" id="btn-add" class="btn btn-primary bottom-buttons fc-buttons">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="/js/add-button.js"></script>
    </body>
</html>
        
    