<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/form-buttons.css">
        <link rel="stylesheet" href="/css/detail.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>whatap test site</title>
    </head>
    <body>
        <div id="mall-skin">
            <div>
                <h1 id="header-title"><a href="/products">Product</a></h1>
            </div>
            <div id="mall-body">
                <div>
                    {{#product}}
                    <div id="upper-content" data-id="{{id}}">
                        <div id="thumbnail-div">
                            <img id="thumbnail-image" src='{{thumbnailImage}}'>
                        </div>
                        <div id="content-info">
                            <h2 class="content title">상품 : {{title}}</h2>
                            <div class="content">가격 : {{price}}원</div>
                            <div class="content">재고 : {{stock}}개</div>    
                        </div>
                    </div>
                    <div id="detail-line">
                        <h3 id="detail-info-tag">상세정보</h3>
                    </div>                        
                    <div id="body-image-div">
                        <img id="body-image" src="{{bodyImage}}">
                    </div>
                    {{/product}}
                </div>
                <div id="bottom-button-div">
                    <a href="/products" role="button" class="btn btn-secondary bottom-buttons">Back</a>
                    <a href="/products/update/{{id}}" role="button" class="btn btn-info bottom-buttons fc-buttons">Update</a>
                    <button type="button" id="btn-delete" class="btn btn-primary bottom-buttons fc-buttons">Delete</button>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="/js/delete-button.js"></script>
    </body>
</html>
        
    