<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>whatap test site</title>
    </head>
    <body data-error-code="">
        <p style="font-size:70px; font-weight:bold; margin-top: 10px; margin-left: 10px">Error : Product is not found</p>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/js/error-handling.js"></script>
    </body>
</html>
        
    