<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/home.css">
        <title>whatap test site</title>
    </head>
    <body>
        <div id="mall-skin">
            <div>
                <h1 id="header-title"><a href="/products">Product</a></h1>
            </div>
            <div id="middle-line">
            </div>
            <div id="mall-body">
                <div id="mall-category">
                    <div id="categories">
                        <h2 id="title-category">카테고리</h2>
                        {{#categories}}
                        <div class="category-list" name="{{parent}}" data-id="{{id}}" data-parent="{{parent}}" data-tier="{{tier}}" data-child="f">
                            <a href="/products/categories?{{id}}">{{name}}</a>
                        </div>
                        {{/categories}}
                    </div>
                </div>
                <div id="mall-table">
                    <div>
                        <ul class="products-ul">
                            {{#products}}
                            <li class="products-li">
                                <div>
                                    <img class="thumbnail-image" src="{{thumbnailImage}}">
                                </div>
                                <div class="products-content"><a href="/products/{{id}}" class="item-link">{{title}}</a></div>
                                <div class="products-content">{{price}}원</div>
                                <div class="products-content">재고 : {{stock}}개</div>
                            </li>
                            {{/products}}
                        </ul>
                    </div>
                    <div>
                        <a href="/products/new-item" role="button" class="btn btn-primary bottom-buttons">Add</a>
                    </div>
                    {{#page}}
                        <ul class="pagination" id="page-button">
                            <li class="page-item"><a id="prev" class="page-link" href="#">
                                <span><</span>
                            </a>
                            </li>
                        </ul>
                        <div id="page-info" data-total-pages="{{totalPages}}" data-offset="{{offset}}" data-limit="{{limit}}"></div>
                    {{/page}}
                    
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="/js/paging.js"></script>
        <script src="/js/home-category.js"></script>
    </body>
</html>
        
    